<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <display-name>AdminLoginServlet</display-name>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>SERVLET.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>StudentLoginServlet</display-name>
        <servlet-name>StudentLoginServlet</servlet-name>
        <servlet-class>SERVLET.StudentLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentLoginServlet</servlet-name>
        <url-pattern>/StudentLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>LoginOutServlet</display-name>
        <servlet-name>LoginOutServlet</servlet-name>
        <servlet-class>SERVLET.LoginOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginOutServlet</servlet-name>
        <url-pattern>/LoginOutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>AdminSearchServlet</display-name>
        <servlet-name>AdminSearchServlet</servlet-name>
        <servlet-class>SERVLET.AdminSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSearchServlet</servlet-name>
        <url-pattern>/AdminSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>AdminExpressServlet</display-name>
        <servlet-name>AdminExpressServlet</servlet-name>
        <servlet-class>SERVLET.AdminExpressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminExpressServlet</servlet-name>
        <url-pattern>/AdminExpressServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>AdminGuaranteeServlet</display-name>
        <servlet-name>AdminGuaranteeServlet</servlet-name>
        <servlet-class>SERVLET.AdminGuaranteeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminGuaranteeServlet</servlet-name>
        <url-pattern>/AdminGuaranteeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>StudentGuaranteeServlet</display-name>
        <servlet-name>StudentGuaranteeServlet</servlet-name>
        <servlet-class>SERVLET.StudentGuaranteeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentGuaranteeServlet</servlet-name>
        <url-pattern>/StudentGuaranteeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>AdminLeavereturnServlet</display-name>
        <servlet-name>AdminLeavereturnServlet</servlet-name>
        <servlet-class>SERVLET.AdminLeavereturnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLeavereturnServlet</servlet-name>
        <url-pattern>/AdminLeavereturnServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>StudentLeavereturnServlet</display-name>
        <servlet-name>StudentLeavereturnServlet</servlet-name>
        <servlet-class>SERVLET.StudentLeavereturnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentLeavereturnServlet</servlet-name>
        <url-pattern>/StudentLeavereturnServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>AdminLaterecordServlet</display-name>
        <servlet-name>AdminLaterecordServlet</servlet-name>
        <servlet-class>SERVLET.AdminLaterecordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLaterecordServlet</servlet-name>
        <url-pattern>/AdminLaterecordServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>AdminFeeServlet</display-name>
        <servlet-name>AdminFeeServlet</servlet-name>
        <servlet-class>SERVLET.AdminFeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminFeeServlet</servlet-name>
        <url-pattern>/AdminFeeServlet</url-pattern>
    </servlet-mapping>

</web-app>